* {
	margin:0; padding:0; 	/*全要素のマージン・パディングをリセット*/
	line-height:1.5;	/*全要素の行の高さを1.5倍にする*/
	color:#333333;		/*文字色*/

}
body {
	background-color:#ffffff;	/*ページ全体の背景色*/
	text-align:center;		/*IE6以下でセンタリングするための対策*/
}
#pagebody {
	width:1200px; margin:0 auto;	/*内容全体をセンタリング*/
	text-align:left;	/*テキストの配置を左揃えにする*/
	background-color:#ffffff;		/*内容全体の背景色*/
}


#header{
	width: 1200px;
	height: 100px;
  float:left;
  font-size:30px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  margin: auto;
}
h1{
	width: 1200px;
	height: 100px;
	float:left;
	font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  font-size: 60px;
	margin: 20px 0px;
  }

#go2menu{
	width:1200px;
	height: 150px;
}
ul#menu {
  width:1200px;
  padding:0;
  margin:0;
  list-style-type: none;
}

ul#menu li {
  width:20%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}

ul#menu li a {
  width:auto;
  color:#fff;
  font-size:30px;
  font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#5D99FF;
}

ul#menu li a:hover {
  background:#005FFF;
}


#chigi_left{
	float:left;
  width: 600px;
  height: 450px;
  margin: 0 0px;
  padding: 0;
  overflow: hidden;
  }


p{font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
 font-size: 40px;
 }

#top{font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
     font-size: 40px;
     margin: 0 auto;
   }


 #chigi_right{
 float:right;
 width: 600px;
 height: 450px;
 margin: 0px 50px;
 padding: 0;
 overflow: hidden;
 }


#chigi_right_shosai{
 float:right;
 font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
 font-size: 20px;
 margin: 0px 40px;
 }

 .setsumei{font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  font-size: 50px;
  }

#osusume{
	width: 1300px;
	height: 80px;

}

#osusume1_left{
 float:left;
 width: 350px;
 height: 50px;
 margin: 0px 60px;
 }

#osusume1_center{
 float:left;
 width: 350px;
 height: 60px;
 margin: 0px 0px;
 }

#osusume1_right{
 float:left;
 width: 350px;
 height: 60px;
 margin: 0px 50px;

 }


 #osusume_left{
	float:left;
	width: 340px;
	height: 300px;
	margin: 0px 30px;
	}

 #osusume_center{
	float:left;
	width: 340px;
	height: 300px;
	margin: 0px 30px;
	}

 #osusume_right{
	float:left;
	width: 340px;
	height: 300px;
	margin: 0px 30px;

	}

.setsumei{
	float:left;
	width: 340px;
	height: 60px;
	font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  font-size: 40px;
	margin: 0px 0px;
}
.shosai{
	float:left;
	font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  font-size: 25px;
	margin: 15px 0px;
}

.go2 {
	  float:left;
    width:220px;
    font-size:30px;
		font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
    font-weight:bold;
    text-decoration:none;
    display:block;
    text-align:center;
    padding:8px 0 10px;
		margin: 0px 50px;
    color:#fff;
    background-color:#5D99FF;
    border-radius:25px;
}

.go2:hover {
  background:#005FFF;
}

#gis_note{
	width: 1200px;
	height: 1000px;
 }
#note_right{
	float:left;
	width: 340px;
	height: 400px;
	margin: 0px 30px;
}

#note_center{
	float:left;
	width: 340px;
	height: 400px;
	margin: 0px 30px;
}

#note_left{
	float:left;
	width: 340px;
	height: 400px;
	margin: 0px 30px;
}

.go2note{
	float:left;
	width:200px;
	font-size:35px;
	font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
	font-weight:bold;
	text-decoration:none;
	display:block;
	text-align:center;
	padding:8px 0 10px;
	margin: 0px 50px;
	color:#fff;
	background-color:#5D99FF;
	border-radius:25px;
}
.go2note:hover {
  background:#005FFF;
}

#toiawase{
	width: 1200px;
	height: 200px;
}
#otoiawase{
	font-family:'ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN';
  font-size: 30px;
}
